@font-face {
    font-family: anders;
    src: url("fonts/Anders.ttf");
}

html, body {
    height: 100%;
}
#introImage {
    height: 100%;
    background-image: url("../../images/cat_pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    background-color: black;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: black;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    color: floralwhite;
}
a {
    size: 3em;
}

#header {
    margin-top: 100px;
    margin-left: 200px;
}

h1 {
    font-family: anders;
    color: #149c82;
    font-size: 7em;
}

#userInstruct {
    color: gray;
}

#cat {
    position: absolute;
    height: 4em;
    width: 4.4em;
}




